@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;400&display=swap');

@keyframes scale {
  0% {
    opacity: 0.5;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 65.5%;
}
body {
  font-family: 'Space Grotesk', sans-serif;
  background: linear-gradient(
    to bottom right,
    #c9ffbf75 0%,
    #ffafbd57 50%,
    #d187dda1 80%
  );
}
/* Preloader */
.preloader {
  position: fixed;
  height: 100vh;
  width: 100%;
  z-index: 500;
  background: linear-gradient(to bottom right, #333, #333333);
  transition: all 0.3s;
}
.preloader-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* End Preloader */

/* Mobile Navigation */
.mob-back {
  height: 0%;
  transition: all 0.5s;
}
div.mobile-nav {
  position: fixed;
  z-index: 100;
  background: linear-gradient(to bottom right, #d9a7c7, #fffcdc);
  height: 100vh;
  right: 0%;
  width: 0%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.8s;
}
.active-mob {
  position: fixed;
  z-index: 100;
  background: linear-gradient(to bottom right, #d9a7c7, #fffcdc);
  height: 100vh;
  right: 0%;
  width: 40%;
  opacity: 1;
  visibility: visible;
  transition: all 0.8s;
}
.nav-mob {
  text-align: right;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.nav-mob ul {
  list-style-type: none;
}
.nav-mob ul a {
  text-decoration: none;
  color: #222;
  font-size: 2rem;
}
.nav-mob ul li:not(:last-child) {
  margin-bottom: 2rem;
}
.nav-mob ul a:hover {
  opacity: 0.7;
  transition: all 0.3s;
}

div.active {
  position: absolute;
  top: 1%;
  right: 5%;
  z-index: 300;
  visibility: visible;
  opacity: 1;
  color: #222;
  font-size: 4rem;
  display: none;
}
.hid {
  display: none;
}
/* End Mobile Navigation */
.header {
  height: 100vh;
  position: relative;
}
.navigation,
.bottom-nav {
  display: grid;
  width: 90%;
  margin: 0 auto;
  grid-template-columns: 10% 2fr 10%;
  justify-content: center;
  align-items: center;
  padding: 2rem 0rem;
}
.logo-box,
.side-left {
  width: 6rem;
  justify-self: start;
}
.logo-box h3 {
  font-size: 2.5rem;
}
.navigation ul,
.bottom-nav ul {
  list-style: none;
  justify-self: center;
}
.navigation ul li,
.bottom-nav ul li {
  display: inline-block;
  font-size: 1.6rem;
  text-transform: uppercase;
}
.navigation ul li:not(:last-child),
.bottom-nav ul li:not(:last-child) {
  margin-right: 2rem;
}
.navigation ul li a,
.bottom-nav ul li a {
  text-decoration: none;
  color: #222;
  translate: all 0.3s;
}
.navigation ul li a:hover,
.bottom-nav ul li a:hover {
  opacity: 0.7;
  translate: all 0.3s;
}
.search,
.side-right {
  justify-self: end;
}
.side-right {
  width: 6rem;
}
.side-right p,
.side-left p {
  font-size: 2rem;
}
.search i,
.side-right i {
  font-size: 2.5rem;
  translate: all 0.3s;
}
.search i:hover,
.side-right i:hover {
  opacity: 0.7;
  translate: all 0.3s;
}

/* Music Template */
.music-container {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.music-tab {
  font-family: 'Raleway', sans-serif;
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  width: 75%;
  margin: auto;
  justify-content: center;
}
.music-animation {
  animation-name: scale;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  transition: all 2s;
}
.grid-a {
  justify-self: flex-start;
  align-content: flex-end;
}
.music-cover {
  width: 300px;
  z-index: 100;
  position: relative;
}
.music-cover::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 40%;
  background-image: url(/img/cd.png);
  background-size: contain;
  background-repeat: no-repeat;
  z-index: -1;
}
.music-cover img {
  border-radius: 40px;
  width: 100%;
  /* box-shadow: 0px 8px 20px 6px rgb(0 0 0 / 86%); */
}
.music-action {
  padding: 2rem 3rem;
}
.music-action ul {
  list-style: none;
  text-align: center;
}
.music-action ul li {
  display: inline-block;
  font-size: 2.5rem;
  color: #222;
}
.music-action ul li:not(:last-child) {
  margin-right: 2.5rem;
}

.grid-b {
  justify-self: start;
}
.music-header {
  margin-bottom: 4rem;
}
.music-header .main-header {
  font-size: 4rem;
  margin-bottom: 1.5rem;
}
.music-header .sub-header {
  font-size: 2rem;
}
.music-control {
  background-color: #fff;
  padding: 6.8rem 4rem;
  margin-bottom: 4rem;
  position: relative;
  border-radius: 40px;
}
.music-control::after {
  content: '';
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: -60%;
  z-index: -1;
}
.music-control ul {
  list-style: none;
}
.music-control ul li {
  display: inline-block;
  font-size: 2rem;
  color: #686565;
  cursor: pointer;
}
.music-control ul li:not(:last-child) {
  margin-right: 5rem;
}
.music-desc p {
  color: #686565;
  letter-spacing: 1.2px;
  font-size: 1.4rem;
}
/* End Music Template */

.footer {
  margin-top: 1rem;
}
.side-left,
.side-right {
  cursor: pointer;
}
/* Library Page */
.lib-main__header {
  height: 140vh;
}
.lib-container {
  position: absolute;
  width: 80%;
  height: 80;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
  background: linear-gradient(to bottom right, #fff, #f5f5f5);
}
.table {
  width: 100%;
  font-family: 'Raleway', sans-serif;
  padding: 2rem 3rem;
}
.lib-img {
  width: 5%;
}
.lib-img img {
  width: 100%;
}
.lib-header h3 {
  font-size: 2rem;
  margin-left: 2.5rem;
}
.lib-action-play,
.lib-action-fav,
.lib-action-play2 {
  width: 5%;
  text-align: center;
  font-size: 2rem;
  cursor: pointer;
  transition: all 0.3s;
}
.lib-action-play:hover,
.lib-action-fav:hover,
.lib-action-play2:hover {
  opacity: 0.7;
  transition: all 0.3s;
}
td.hid-btn {
  z-index: -1;
  width: 0%;
  font-size: 0px;
  display: none;
}
.td-active {
  background: url(img/playing.gif), linear-gradient(to bottom right, #000, #000);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  padding: 1rem 1rem;
  box-shadow: 0px 0.5rem 2rem rgba(0, 0, 0, 0.2);
  color: #fff;
}
td {
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
}
/* MEDIA QEURIES */
@media screen and (min-width: 1800px) {
  .music-tab {
    width: 70%;
  }
  .grid-a {
    justify-self: center;
  }
}
@media screen and (max-width: 1200px) {
  .music-tab {
    width: 90%;
  }
}
@media screen and (max-width: 768px) {
  html {
    font-size: 50%;
  }
  /* Mobile Navigation */
  .logo-box,
  .search {
    padding: 1.5rem 2rem;
    position: absolute;
    z-index: 250;
    top: 1%;
    left: 5%;
  }
  .search {
    position: absolute;
    z-index: 250;
    top: 1%;
    left: 50%;
    transform: translateX(-50%);
  }
  .nav ul {
    display: none;
  }
  div.active {
    display: block;
  }

  /* End Mobile Navigation */
  .header {
    height: 120vh;
  }
  .lib-main__header {
    height: 120vh;
  }
  .navigation ul {
    display: none;
  }
  .music-tab {
    grid-template-columns: repeat(1, 1fr);
    width: 90%;
  }
  .grid-a {
    justify-self: center;
  }
  .music-cover::after {
    display: none;
  }
  .music-cover img {
    border-radius: 40px;
    width: 100%;
    box-shadow: 0px 8px 20px 6px rgb(0 0 0 / 54%);
  }
  .music-header {
    text-align: center;
  }
  .music-action ul li:not(:last-child) {
    margin-right: 4rem;
  }
  .grid-b {
    justify-self: center;
  }
  .music-control ul {
    text-align: center;
  }
  .music-control {
    padding: 4rem 1rem;
  }
  .music-control ul li:not(:last-child) {
    margin-right: 4rem;
  }
  .music-control::after {
    display: none;
  }
  .music-desc {
    text-align: center;
  }
  .footer {
    margin-top: 5rem;
  }

  /* Library */
  .table {
    padding: 2rem 3rem;
  }
  .lib-img {
    width: 10%;
  }
  .lib-header h3 {
    margin-left: 1rem;
  }
  .lib-action-play,
  .lib-action-fav,
  .lib-action-play2 {
    width: 15%;
  }
}
@media screen and (max-width: 480px) {
  html {
    font-size: 54%;
  }
  .header {
    height: 100vh;
  }
  .lib-main__header {
    height: 110vh;
  }
  .music-desc p {
    color: #222;
  }
  .music-cover {
    width: 250px;
  }
  .music-control ul li {
    font-size: 2.5rem;
  }
  .lib-container {
    width: 95%;
  }
  .table {
    border-spacing: 2px;
    padding: 2rem 1rem;
  }
  .td-active {
    background-repeat: no-repeat;
  }
}
